/* button search home page  */
.hero-section {
    &__button {
        @extend %button;
        color: white;
        width: 250px;
        border-radius: 30px;
        @include padding-button;
        margin-bottom: 60px;
        @include box-shadow;
        // @include background-image(null,$color-primary,$color-secondary, right);
        background-image: linear-gradient(to top,
                $color-primary,
                $color-secondary,
            );

        &:hover {
            opacity: 0.8;
            transition: .4s;
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
        }
    }
}

/* fuctioning button home page  */
.functioning__button {
    @extend %button;
    background-color: #f6f6f6;
    font-weight: 700;
    width: 95%;
    @include padding-button;
    @include box-shadow;
    border-radius: 20px;

    &:hover {
        opacity: 1;
        transition: .4s;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 100%);
    }

}

/* dish button, page restaurants  */

.restaurant__menu {
    &-button {
        width: 95%;
        border: none;
        font-style: normal;
        font-size: 18px;
        cursor: pointer;
        @include box-shadow;
        border-radius: 20px;
        background-color: white;
        display: flex;
        overflow: hidden;

       

        &:hover .restaurant__menu-check {
        
            margin-right: 0;
            transition-duration: 0.5s;
            transition-timing-function: ease;
        }

        &:hover i {
            animation: rotate 0.5s both;
        }
    }
}