%button{
    border: none;
    font-style: normal;
    font-size: 18px;
    width: 200px;
    text-align: center;

    cursor: pointer;

}
%flex{
    display: flex;
   justify-content: center;
   align-items: center;
}

