@mixin background-image {
    background-image: linear-gradient(
        to top,
        $color-primary,
        $color-secondary,
    );
}
@mixin box-shadow {
   box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}
@mixin padding-button {
    padding: 20px;
}
@mixin font-family-title {
    font-family:'Shrikhand', cursive;;
    
}
