.footer{
    background-color:#353535;
    color: white;
    padding: 20px;
   
    
    h2{
       
        @include font-family-title;
        font-size: 20px;
        font-weight: 400;
    }
    &__links{
        display: flex;
        font-size: 16px;
        font-weight: 500;
        flex-direction: column;
        row-gap: 10px;
        padding-top: 20px;
    }
    &__link{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        column-gap:10px
        
    }
    @media screen and (min-width:900px) {
       &__links{
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        align-items: center;
       }
       h2{
        text-align: center;
       }
    }
}