
.header__logo{
    
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    &__pic
    {
      width: 200px;
      padding-top: 20px;
    
    }
    
}

