.hero-section {
    @extend %flex;
    flex-direction: column;
    background-color: $color-light-grey;


    &__title {
        @extend %flex; 
        flex-direction: column;
        text-align: center;
        padding: 50px 0 30px 0;
        max-width: 300px;
        row-gap: 10px;
    }
    

}