.functioning {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;

    h2 {
        padding: 20px;
    }

    padding-bottom: 40px;

    &__steps {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 90%;
        margin-top: 20px;
        row-gap: 20px;
        padding-left: 30px;

        

    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        &__number {
            background-color: $color-primary;
            border-radius: 20px;

            padding: 5px 9px 5px 9px;
            position: absolute;
            font-size: small;
            transform: translateX(-130%);

        }

        &__icon {
            position: absolute;
            color: $color-ink;
            margin-left: 20px;
        }

        &__text {

            text-align: center;
            margin-left: 60px;
        }
    }
    @media screen and (min-width:700px) {
        &__steps{
            flex-direction: row;
        column-gap: 30px;
        width: 95%;

        }
        &__icon{
                margin-left: 10px;
        }
        &__text{
           

                margin-left: 40px;
            
        }
    }


}